@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
	box-sizing: border-box;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	font-family: "Montserrat", sans-serif;
}
h1 {
	text-align: center;
	color: white;
	font-size: 2.5rem;
	text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.6);
}
.posts {
	margin-left: 10%;
	background-color: rgba(0, 0, 0, 0.4);
	margin-right: 10%;
	padding: 30px;
	width: 75vw;
	border: #00ccff 2px solid;
	border-radius: 16px;
	box-shadow: 14px 23px 21px 0px rgba(245, 240, 240, 0.44);
	-webkit-box-shadow: 14px 23px 21px 0px rgba(245, 240, 240, 0.44);
	-moz-box-shadow: 14px 23px 21px 0px rgba(245, 240, 240, 0.44);
}
.post-wrapper {
	display: flex;
	gap: 2rem;
}
.post-image {
	width: 200px;
	height: 200px;
	border: solid 1px white;
	text-align: center;
}

.posts-container {
	height: auto;
}
.posts-container h2,
h3 {
	margin-top: 30px;
	border-top: solid 2px white;
	padding-top: 2rem;
	color: white;
	text-align: left;
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}
.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 70%;
	font-size: 24px;
	background-color: white;
	border: #002f5b solid 2px;
	padding: 1rem;
	box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
	border-radius: 16px 0 16px 0;
	margin-bottom: 2rem;
}
.form input {
	line-height: 2rem;
	box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 16px 0 16px 0;
	width: 60%;
}
.form button {
	display: inline-block;
	width: 100px;

	background: #330867;
	color: white;
	font-size: 1.2rem;
	padding: 0.3rem;
	border-radius: 4px;
	text-align: center;
	position: relative;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	border: 0;
	transition: border-radius linear 0.05s, width linear 0.05s;
}
.form button:hover {
	background-color: #52d69f;
	cursor: pointer;
	color: rgb(233, 231, 240);
}
.post-conatiner {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	padding-left: 20px;
	gap: 2rem;
	border: 1px solid black;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	padding: 5px;
	margin-top: 2rem;
	width: 100%;
	-webkit-box-shadow: 5px 12px 15px 5px rgba(0, 0, 0, 0.73);
	box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.63);
}
.post-title {
	color: white;
	background-color: #002f5b;
	width: 90%;
	line-height: 1.5rem;
	padding: 10px;
	font-size: 20px;
	border: none;
	border-radius: 16px;
}
.post-content {
	background-color: rgba(50, 50, 50, 0.2);
	margin-top: 2px;
	min-height: 50px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: left;
}
.social {
	display: flex;
	gap: 5px;
	font-size: 1.2rem;
	color: white;
	background: rgba(0, 0, 0, 0.12);
	width: 98%;
	padding: 1rem;
}
.social span {
}
.like {
	font-size: 1.2rem;
	padding: 5px;
	font-weight: 600;
	border: none;
	border-radius: 16px;
	background-color: transparent;
	padding: 5px;
}
.like:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.3);
}
.up {
	color: rgb(20, 190, 85);
}
.down {
	color: rgb(138, 19, 35);
}
.reply {
	color: white;
	font-size: 1.2rem;
	background-color: transparent;
}
.save {
	color: white;
	font-size: 1.2rem;
	background-color: transparent;
	border: none;
}
.save:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 16px;
}
small {
	color: red;
	font-size: 0.7rem;
	font-weight: 400;
	padding: 0.5rem;

	box-shadow: rgba(0, 0, 0, 0.12);
}
.word-counters {
	background-color: rgb(226, 202, 202);
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 16px;
	text-align: center;
	font-weight: 500;
}
.comment-container,
form {
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.comment-container > textarea {
	font-size: 1rem;
}
.comment-container button {
	width: 100px;
	line-height: 2rem;
	background-color: rgb(186, 186, 196);
	border-radius: 16px;
	font-size: 1rem;
	font-weight: 600;
	border: none;
	margin-left: 70%;
}
.comment-container button:hover {
	cursor: pointer;
	background-color: white;
}
textarea {
	margin-top: 10px;
	margin-left: 50px;
	width: 80%;
	height: 200px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
	border-color: -moz-use-text-color #ffffff #ffffff -moz-use-text-color;
	border-image: none;
	border-radius: 6px 6px 6px 6px;
	border-style: none solid solid none;
	border-width: medium 1px 1px medium;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	color: #555555;
	font-family: "Montserrat", sans-serif;
	font-size: 1.3rem;
	line-height: 1.4em;
	padding: 5px 8px;
	transition: background-color 0.2s ease 0s;
}
textarea:focus {
	background: none repeat scroll 0 0 #ffffff;
	outline-width: 0;
}

.comment-content {
	width: 90%;
	text-align: left;
	padding: 1rem;
	min-height: 50px;
	border: #bac1c7 1px solid;
	margin-top: 0.3rem;
	display: flex;
	transition: ease-in 0.3s;
	-webkit-box-shadow: 0px 10px 13px -7px #000000,
		5px 5px 15px 5px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	margin-bottom: 1rem;
	margin-top: 1rem;
	color: white;
	border-radius: 16px 0 16px 0;
	background-color: rgba(0, 0, 0, 0.4);
}
.comment-content:hover {
	background-color: rgb(34, 116, 187);
	cursor: pointer;
}
.comments-header {
	font-size: 1rem;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 16px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
	color: white;
}

.image {
	width: 40px;
	height: 40px;
	border: #002f5b 2px solid;
	border-radius: 50%;
	margin: 10px;
}
.comment-vote {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	font-size: 1rem;
	font-weight: 700;
}
.comment-vote button {
	height: 20px;
	font-size: 12px;
	border: #30cfd0 solid 1px;
	margin: 2px;
}
.comment-vote button:hover {
	cursor: pointer;
	height: 30px;
}
.post-header {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.btn-favorite {
	width: 200px;
	height: 50px;
	background: rgb(226, 217, 226);
	color: white;
	border-radius: 30px;
	right: -30px;
	top: 20px;
	border: none;
	border-bottom-right-radius: 0;
}

.btn-favorite:hover {
	color: rgb(212, 183, 18);
	cursor: pointer;
}
.footer-comment {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-header {
	display: flex;
	justify-content: space-around;
}
.form-header > select {
	min-width: 120px;
	text-align: center;
	font-size: 1rem;
	margin-right: 20%;
}
.posts-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2rem;
}
.header-select {
	color: white;
	line-height: 2rem;
	padding-top: 1rem;
	font-size: 1.2rem;
	font-weight: 600;
}
.header-select select {
	line-height: 2rem;
	min-width: 20%;
	padding: 0.5rem;
}

.search-box {
	width: 100%;
	margin: 0 0 75px;
}

.search-box .search-bar {
	display: block;
	width: 70%;
	padding: 15px;

	appearance: none;
	background: none;
	border: none;
	outline: none;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 0px 16px 16px;
	margin-top: -25px;

	box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

	color: #313131;
	font-size: 20px;

	transition: 0.4s ease;
}

.search-box .search-bar:focus {
	background-color: rgba(255, 255, 255, 0.75);
}

.select-list {
	color: white;
	display: flex;
	width: 50%;
	justify-content: flex-start;
	gap: 1.2rem;
	font-size: 1.2rem;
	line-height: 1rem;
}
.select-list label {
	line-height: 2rem;
	font-weight: 400;
}
.select-list select {
	font-size: 18px;
	border-radius: 0 16px 0 0;
	width: 60%;
	height: 2rem;
	box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
	text-align: center;
}
.category {
	font-size: 18px;
	color: white;
	background-color: turquoise;
	width: 100px;
	margin-left: 0px;
	text-align: center;
	vertical-align: 45px;
	padding: auto;
	height: 20%;
	line-height: 90px;
	border-radius: 16px;
	box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.failed-search {
	height: 100px;
	width: 70%;
	border: #30cfd0 solid 2px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 16px;
	text-align: center;
	padding-top: 50px;
}

.header-wrapper {
	display: flex;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.2);
	justify-content: space-between;
	font-size: 1.3rem;
	color: white;
	padding-top: 30px;

	padding: 1rem;
}
.navigation {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	padding-top: 1rem;
}
.navigation div {
	color: #f6f4e6;
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block;
	width: auto;
	line-height: 90px;
	vertical-align: middle;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navigation div:hover {
	color: #fddb3a;
	cursor: pointer;
}
.navigation-container {
	display: flex;
	gap: 1rem;
}
.user-profile {
	display: flex;
	padding-top: 2rem;
	gap: 1rem;
	padding-right: 1rem;
	justify-content: flex-end;
}
.logo {
	width: 30px;
	height: 30px;
	padding: 1rem;
	border-radius: 50px;
	filter: invert(1);
	z-index: 101;
}
.box-logo {
	position: relative;
	width: 100px;
	height: 100px;
	margin-right: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	z-index: 100;
}
.box-logo::before {
	content: "";
	position: absolute;
	width: 60px;
	height: 140%;
	background: linear-gradient(#00ccff, #d400d4);
	animation: animate 4s linear infinite;
}
.box-logo::after {
	content: "";
	position: absolute;
	background: #330867;
	inset: 4px;
	border-radius: 18px;
}
@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.Login {
	text-align: center;
}
.connect-form {
	display: flex;
	gap: 1rem;
	width: 100%;
	height: 50px;
}
.connect-form button {
	border-radius: 16px;
	border: none;
	cursor: pointer;
	background-color: #002f5b;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	min-width: 150px;
}
.connect-form button:hover {
	background-color: #fddb3a;
}
